doctype html
html
  head
    meta(name="viewport", content="width=device-width, initil-scale=1.0")
    title= title
    link(rel='stylesheet', href='/amelia/amelia.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/vendors/jquery.min.js')
    script(src='/javascripts/vendors/bootstrap.min.js')
